<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Returned</title>
    <link rel="stylesheet" href="/car_returned.css">
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Cars Returned')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: damage_management_navbar('/')}"></div>
</header>

<table class="lease-info">
    <thead>
    <tr>
        <th>Customer ID</th>
        <th>Chassis Number</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td class="table-text" th:text="${lease.customerId}"></td>
        <td class="table-text" th:text="${lease.chassisNumber}"></td>
        <td class="table-text" th:text="${lease.startDate}"></td>
        <td class="table-text" th:text="${lease.endDate}"></td>
    </tr>
    </tbody>
</table>

<main class="grid-container">

    <div class="box">
        <div class="text-container">
            <h2>Existing Damages on Car</h2>
        </div>
        <ul class="damage-list">
            <li class="damage-item" th:each="damage : ${invoicedDamages}">
                <span th:text="'Type of damage: ' + ${damage.damageName}"></span>
                <span th:text="' - Price of damage: ' + ${damage.damagePrice}"></span>
            </li>
        </ul>
    </div>

    <div class="box">
        <div class="text-container">
            <h2>Add new damages</h2>
        </div>
        <ul class="damage-list">
            <li class="damage-item" th:each="damage : ${nonInvoicedDamages}">
                <span th:text="'Type of damage: ' + ${damage.damageName}"></span>
                <span th:text="' - Price of damage: ' + ${damage.damagePrice}"></span>
            </li>
        </ul>
        <form action="/add_damage" method="post">
            <div class="input-container">
                <div class="text-container">
                    <p>Please input new damages to the car:</p>
                </div>
                <input type="text" id="newDamageName" name="damageName" placeholder="Type of damage">
                <input type="number" id="newDamagePrice" name="damagePrice" placeholder="Price of damage">
                <input type="hidden" name="chassisNumber" th:value="${lease.chassisNumber}">
                <input type="hidden" name="leaseId" th:value="${lease.leaseId}">
                <button type="submit">Add Damage</button>
            </div>
        </form>
    </div>

    <div class="box">
        <div class="text-container">
            <h2>Kilometers Driven</h2>
        </div>
        <div class="km-driven-value">
            <p>KM driven before lease start: <span th:text="${conditionReport.kmBeforeLease}"></span></p>
            <p>KM driven after lease end: <span th:text="${kmDriven}"></span></p>
            <p>Total km driven: <span th:text="${kmDriven - conditionReport.kmBeforeLease}"></span></p>
        </div>
        <form action="/update_km_driven" method="post">
            <div class="input-container">
                <div class="text-container">
                    <p>Update kilometers driven:</p>
                </div>
                <input type="number" id="kmDriven" name="kmDriven" placeholder="New kilometers driven">
                <input type="hidden" name="chassisNumber" th:value="${lease.chassisNumber}">
                <input type="hidden" name="leaseId" th:value="${lease.leaseId}">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>

</main>
<form action="/conclude_lease" method="post" class="bottom-right-button">
    <input type="hidden" name="leaseId" th:value="${lease.leaseId}">
    <input type="hidden" name="chassisNumber" th:value="${lease.chassisNumber}">
    <button type="submit">Conclude lease</button>
</form>

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>