<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Condition report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reusables.css">
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/display_condition_report.css">
</head>
<header>
    <div th:insert="~{home/fragments :: header('Inventory')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: damage_management_navbar('/')}"></div>
</header>
<body>

<div class="box">
    <div class="text-container">
        <h2>Lease Concluded - Condition Report Created</h2>
    </div>
    <table class="condition-report-table">
        <tr>
            <td>Lease ID:</td>
            <td th:text="${conditionReport.leaseId}"></td>
        </tr>
        <tr>
            <td>Chassis Number:</td>
            <td th:text="${conditionReport.chassisNumber}"></td>
        </tr>
        <tr>
            <td>Km before lease:</td>
            <td th:text="${conditionReport.kmBeforeLease}"></td>
        </tr>
        <tr>
            <td>Km after lease:</td>
            <td th:text="${conditionReport.kmAfterLease}"></td>
        </tr>
        <tr>
            <td>Total km driven:</td>
            <td th:text="${conditionReport.kmAfterLease - conditionReport.kmBeforeLease}"></td>
        </tr>
        <tr>
            <td>Total Extra cost:</td>
            <td th:text="${conditionReport.totalExtraCost}"></td>
        </tr>
    </table>
</div>
<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>
</body>
</html>