/*  @Author: Otto */

.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 0 auto;
}

.damage-list {
    list-style-type: none;
    padding: 0;
}

.damage-item {
    margin-bottom: 10px;
}

.input-container {
    margin-top: 20px;
}

.input-container input {
    width: calc(100% - 110px);
    padding: 5px;
    margin-right: 10px;
}

.input-container button {
    padding: 5px 10px;
}

.text-container {
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
th, td {
    border: 1px solid #888;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

