body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    position: relative;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
}

.image-container {
    margin-left: 20px;
}

.image {
    width: 150px;
    height: 150px;
}


.car-details {
    flex: 1; /* Allow text container to grow to fill available space */
}


.ItemLink {
     height: 10px;
     text-align: left;
 }