/*  @Author: Hasan */

.error-message {
    color: red;
    font-size: 1.5em;


}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-bottom: 240px;
    /* ??? Fix */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.red-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 3px;
}

.red-button:hover {
    background-color: #c9302c;
}

.blue-button {
    background-color: #4c8cfc;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.blue-button:hover {
    background-color: #356acc;
}

.error-message {
    font-weight: bold;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.button-container form {
    margin: 0;
}

.button-container .red-button,
.button-container .blue-button {
    cursor: pointer;
}
