.header {
    background-color: #3b719f;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: #000000;
    text-decoration-thickness: auto;
}

.header h1 {
    margin-top: -0.001px;
}

/*---------------------------------------HEADER-------------------------------------*/

.logo-container {
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
    box-shadow: #000000;
}

.logo img {
    width: 250px;
    max-width: 70px;
    border-radius: 200px;
    box-shadow: #000000;

}

/*----------------------------------------LOGO-------------------------------------------*/

.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 0;
    width: 100%;
    top: 90px;
    z-index: 900;
    margin-bottom: 100px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 80px;
    font-size: 16px;
    transition: color 0.3s, transform 0.4s;
}

.navbar a:hover {
    font-weight: bold;
    color: #3b719f;
    transform-style: preserve-3d;
    transform: scale(1.2);
}

/*MAKE BUTTON TODO*/

/*--------------------------------------NAVBAR--------------------------------------*/

.footer {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    text-align: left;
    color: #ffffff;
    margin-top: 50px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #3b719f;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    margin: auto;
}

.brand-name {
    font-weight: bold;
    color: #db6000;
    text-shadow: 1px 1px 2px black;
}

.brand-name sup {
    font-size: smaller;
    color: #808080;
    animation: bounce 1s infinite;
}

.github-link {
    font-size: 19px;
    margin-left: auto;
    padding: 0 initial
}

.github-link a:hover{
    color: #db6000;
}

/*----------------------------------------------------FOOTER----------------------------------------------------------*/