html, body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    color: #3b719f;
    height: 100%;
}

& form {
    background: #3b719f;
    padding: 50px;
    margin-top: 100px;
    border-radius: 80px;
    box-shadow: 0 2px 1px #000000;
    width: 300px;
    margin-bottom: 228px;
}

& label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #3b719f;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #555555;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1s;
}

button:hover {
    background-color: #555555;
    color: #ffffff;
}

@keyframes bounce {
    0%, 100% {

        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

.error-message {
    color: #CB4C4E;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}