/*  @Author: Anders */

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    max-width: 450px;
}
.image-container {
    position: relative;
    width: 350px;
    height: 200px;
    padding-left: 50px;

}

.image {
    object-fit: fill;

}

.view-button {
    position: relative;
    width: 100px;
    margin-left: 300px;
    top: -200px;
    background-color: #ffffff;
    color: #555555;
    border: 2px solid #555555;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.view-button:hover {
    background-color: #555555;
    color: #ffffff;
}

/* Style for the drop down menu */
form {
    margin-left: auto;
    margin-right: auto;
}

form label {
    font-weight: bold;
    font-size: 14px;
}

form select {
    font-size: 14px;
    border-radius: 20px;
}

.sort-form {
    margin-left: 50px;
}

