.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}
.image-container {
    margin-left: 185px;
    top: -185px;
    margin-right: 10px;
}

.image {
    object-fit: scale-down;
}
.ItemLink {
    height: 22px;
    text-align: left;
}
.view-button {
    width: 100px;
    margin-left: 200px;
    margin-top: -10px;
    background-color: #ffffff; /* White background color */
    color: #555555;
    border: 2px solid #555555;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    font-weight: bold;
}

.view-button:hover {
    background-color: #555555; /* Gray background color on hover */
    color: #ffffff; /* White text color on hover */
}

/* Style for the drop down menu */
form {
    margin-left: auto;
    margin-right: auto;
}

form label {
    font-weight: bold;
    font-size: 14px;
}

form select {
    font-size: 14px;
    border-radius: 20px; /* Oval shape */
}

.sort-form {
    margin-left: 50px; /* Adjusted margin-left value */
}

.form p {
    /* Add any additional styling for form paragraphs here */
}

