body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.lease-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    position: relative;
    flex-wrap: wrap; /* Wrap items to next line if needed */
    justify-content: space-between; /* Distribute items evenly */
    width: 100%;
}

.lease-box {
    flex-basis: calc(33.33% - 20px); /* 3 boxes per row with 20px gap */
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Add some space between rows */
    margin-right: 10px;
    justify-content: space-between;

}

.lease-box:nth-child(3n) {
    margin-right: 0;
}
.lease-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.lease-header h3 {

    margin: 0;
}
