.green-box{
    background-color: #0dd500;
}

.blue-box {
    background-color: #007bff;
}

.red-box {
    background-color: #ff2020;
}
.format-text {
    text-transform: lowercase;
}

.format-text::first-letter {
    text-transform: capitalize;
}
