.green-box{
    background-color: #0dd500;
}

.blue-box {
    background-color: #007bff;
}

.red-box {
    background-color: #ff2020;
}
.format-text {
    text-transform: lowercase;
    content: attr(data-text);
    visibility: visible;
    display: block;
    white-space: pre-wrap;
}

.format-text::first-letter {
    text-transform: capitalize;
}
