/*  @Author: Anders */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], select {
    width: 25%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #3b719f;
    color: #ffffff;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button[type="submit"]:hover {
    background-color: #5ca351;
}

.error-message {
    color: #CB4C4E;
    margin-bottom: 10px;
}
.Hidden {
    opacity: 0;
    display: none;
}