<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
    <link rel="stylesheet" type="text/css" href="purchase.css">
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Purchases')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: business_developer_navbar('/')}"></div>
</header>

<main>
    <!--  @Author: Hasan & Anders -->
    <form action="/purchaseSelected" method="post">
        <div class="grid-container2">
            <div class="grid-item2" th:each="car : ${cars}">
                <div class="car-details">
                    <h2 th:text="'Price: ' + ${#numbers.formatInteger(car.price, 0)} + ' DKK'"></h2>
                    <div class="text-line">
                        <p th:text="'Chassis Number: ' + ${car.chassisNumber}"></p>
                        <p th:text="'Brand: ' + ${car.brand}"></p>
                        <p th:text="'Model: ' + ${car.model}"></p>
                        <p th:text="'Registration Fee: ' + ${car.registrationFee}"></p>
                        <p th:text="'License Plate: ' + ${car.licensePlateNumber}"></p>
                        <p th:text="'State: ' + ${car.carState}"></p>
                        <p th:text="'Transmission Type: ' + ${car.transmissionType}"></p>
                        <p th:text="'KM per Liter: ' + ${car.kmPerLiter}"></p>
                        <p th:text="'Fuel Type: ' + ${car.fuelType}"></p>
                        <p th:text="'Carbon Emission per KM: ' + ${car.carbonEmissionPerKm}"></p>

                        <div class="checkbox-line">
                            <input type="checkbox" name="selectedCars" th:value="${car.chassisNumber}">
                        </div>
                        <!-- Hidden inputs for car attributes -->
                        <input type="hidden" name="chassisNumber" th:value="${car.chassisNumber}">
                        <input type="hidden" name="brand" th:value="${car.brand}">
                        <input type="hidden" name="carModel" th:value="${car.model}">
                        <input type="hidden" name="registrationFee" th:value="${car.registrationFee}">
                        <input type="hidden" name="licensePlate" th:value="${car.licensePlateNumber}">
                        <input type="hidden" name="carState" th:value="${car.carState}">
                        <input type="hidden" name="transmissionType" th:value="${car.transmissionType}">
                        <input type="hidden" name="kmPerLiter" th:value="${car.kmPerLiter}">
                        <input type="hidden" name="fuelType" th:value="${car.fuelType}">
                        <input type="hidden" name="carbonEmissionPerKm" th:value="${car.carbonEmissionPerKm}">
                        <input type="hidden" name="price" th:value="${car.price}">
                    </div>
                </div>
            </div>
        </div>
        <button class="submit" type="submit">Purchase Selected</button>
    </form>
</main>

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
