<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Returned</title>
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Cars Returned')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<main class="grid-container">
    <div class="grid-item" th:each="damage : ${damages}">
<!--        <div>-->
            <p th:text="'Type of damages: ' + ${damage.damageName}"></p> <!--TODO -->
            <p th:text="'Price of damages: ' + ${damage.damagePrice}"></p>
<!--        </div>-->

    </div>

</main>


<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>