<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer List</title>
  <link rel="stylesheet" type="text/css" href="/customers.css">
  <link rel="stylesheet" href="/reusables.css">
  <link rel="stylesheet" href="/fragments.css">
</head>
<body>

<header>
  <div th:insert="~{home/fragments :: header('Customer List')}"></div>
  <div th:insert="~{home/fragments :: logo}"></div>
  <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <p th:text="${error}" class="error-message"></p>

  <tr th:each="customer : ${customers}">
    <td th:text="${customer.customerId}"></td>
    <td th:text="${customer.firstName}  +  ' '  + ${customer.lastName}" ></td>
    <td th:text="${customer.phoneNumber}"></td>
    <td th:text="${customer.email}"></td>
    <td th:text="${customer.address}"></td>
    <td>

      <form th:action="@{/delete_customer}" method="post">
        <input type="hidden" name="customerId" th:value="${customer.customerId}"/>
        <button type="submit" class="red-button">Delete</button>
      </form>
      <form th:action="@{/edit_customer}" method="post">
        <input type="hidden" th:value="${customers.customerId}" />
        <button type="submit" class="blue-button">Edit</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<footer>
  <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
