<link rel="stylesheet" href="fragments.css">
<div th:fragment="logo">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="/logo.png" alt="Logo">
        </a>
    </div>
</div>
<div th:fragment="navbar">
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="inventory.html">All Cars</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </nav>
</div>
<div th:fragment="footer">
    <p class="footer"><span
            class="brand-name"><sup>©</sup> 2024 IntelliJKingz<sup>™<br>All rights reserved.</sup></span></p>
    <span class="brand-name">
        <a href="https://github.com/Magnompower/Eksamensprojekt-2.sem" target="_blank"
           th:href="@{https://github.com/Magnompower/Eksamensprojekt-2.sem}">Github</a></span>
</div>