</head>
<body>

<header>
    <section class="headerright">
        <!-- Removed the th:href attribute since it's specific to Thymeleaf template engine -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <link rel=" stylesheet" type="text/css" href="/index.css">
    </section>
    <section class="headercenter">
        <h1>Bilabonnement A/S</h1>
    </section>
</header>

<nav class="navbar">
    <a href="#home" class="nav-button">Home</a>
    <a href="#cars" class="nav-button">Overview</a>
    <a href="#cars" class="nav-button">All cars</a>
    <a href="#cars" class="nav-button">Reports</a>
    <a href="#cars" class="nav-button">Contracts</a>
</nav>

<main>
    <section class="centertext">
        <form th:action="@{/validate}" method="post">
            <p th:text ="${error}" ></p>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"  placeholder="Enter password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <p1>Don't have an account? <a th:href="@{/signup}">
                <button type="button">Sign up</button>
            </a></p1>
        </div>
    </section>
    <section class="rights">
    </section>
</main>

<footer>
    <span class="brand-name"><sup>©</sup> 2024 IntelliJKingz<sup>™<br>All rights reserved.</sup></span>
    <span class="brand-name">
        <a href="https://https://github.com/Magnompower/Eksamensprojekt-2.sem">Github</a>
    </span>
</footer>

</body>
