<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout Example</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>

<header>
    <h1>Header</h1>
</header>

<nav>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</nav>

<main>
    <div class="grid-container">
        <div class="grid-item" th:each="car : ${cars}">
            <div class="grid-content">
                <h2 th:text="${#numbers.formatInteger(car.price, 0)}"></h2>
                <p th:text="${car.brand}"></p>
                <p th:text="${car.model}"></p>
                <p th:text="${car.carState}"></p>
                <div class="ItemLink">
                    <form action="/view_car" method="get">
                        <input type="hidden" name="carChassisNumber" th:value="${car.chassisNumber}">
                        <button class="button" type="submit">View</button>
                    </form>
                </div>
                <div class="image-container">
                    <img class="image" th:src="${car.image_url}" alt="Car Image">
                </div>
            </div>
        </div>
    </main>


</main>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>
