<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout Example</title>
    <link rel="stylesheet" href="/inventory.css">
    <link rel="stylesheet" href="/reusables.css">
    <link rel="stylesheet" href="/fragments.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Inventory')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<!-------------- Dropdown menu for sorting & filtering --------------------->

<form action="/sort_and_filter_cars" method="get" class="sort-form">
    <label for="sortType">Sort by:<br></label>
    <select id="sortType" name="sortType">
        <option value="" disabled selected hidden>Select a sorting option</option>
        <option value="priceAscending">Price: low to high</option>
        <option value="priceDescending">Price: high to low</option>
        <option value="brandAscending">Brand: A-Z</option>
        <option value="brandDescending">Brand: Z-A</option>
    </select>

    <label for="filterBy">Filter by:</label>
    <select id="filterBy" name="filterBy">
        <option value="" disabled selected hidden>Select a filter option</option>
        <option value="RENTED">Rented</option>
        <option value="DAMAGED">Damaged</option>
        <option value="UNDER_MAINTENANCE">Under maintenance</option>
        <option value="GETTING_PREPARED">Getting prepared</option>
        <option value="AVAILABLE">Available</option>
        <option value="ALL">Show all</option>
    </select>

    <button type="submit">Apply</button>
</form>
<!--<p>Color codes:</p>-->
<!--TODO Sorter automatisk fra available når man kommer ind på siden-->
<!----------------------------------------------------------------->

<main>
    <div class="grid-container">
        <div th:each="car : ${cars}"
             th:class="${car.carState.name() == 'AVAILABLE' ? 'grid-item green-box' :
                        (car.carState.name() == 'RENTED' || car.carState.name() == 'GETTING_PREPARED') ? 'grid-item blue-box' :
                        (car.carState.name() == 'DAMAGED' || car.carState.name() == 'UNDER_MAINTENANCE') ? 'grid-item red-box' :
                        'grid-item'}">
            <div>
                <h2 th:text="${#numbers.formatInteger(car.price, 0)}"></h2>
                <p th:text="${car.brand}"></p>
                <p th:text="${car.model}"></p>
                <p th:text="${car.carState}" class="format-text"></p>
                <div class="ItemLink">
                    <form action="/view_car" method="get">
                        <input type="hidden" name="carChassisNumber" th:value="${car.chassisNumber}">
                        <button class="edit-button" type="submit">View</button>
                    </form>
                    <div class="image-container">
                        <img class="image" th:src="${car.image_url}" alt="Car Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!--<form action="/purchase" method="get">    <button type="submit">Go to Purchase Page</button></form>-->

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
