<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout Example</title>
    <link rel="stylesheet" href="/inventory.css">
</head>
<body>

<header>
    <h1>Header</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/leasedCars}">Leased Cars</a></li>
        <li><a th:href="@{/leaseoverview}">Lease Overview</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</nav>

<!-------------- Dropdown menu for sortering og filtrering --------------------->
<form action="/sort_and_filter_cars" method="get">
    <label for="sortType">Sort by:</label>
    <select id="sortType" name="sortType">
        <option value="" disabled selected hidden>Select a sorting option</option>
        <option value="priceAscending">Price: low to high</option>
        <option value="priceDescending">Price: high to low</option>
        <option value="brandAscending">Brand: A-Z</option>
        <option value="brandDescending">Brand: Z-A</option>
    </select>

    <label for="filterBy">Filter by:</label>
    <select id="filterBy" name="filterBy">
        <option value="" disabled selected hidden>Select a filter option</option>
        <option value="RENTED">Rented</option>
        <option value="DAMAGED">Damaged</option>
        <option value="UNDER_MAINTENANCE">Under maintenance</option>
        <option value="GETTING_PREPARED">Getting prepared</option>
        <option value="AVAILABLE">Available</option>
        <option value="ALL">Show all</option>
    </select>

    <button type="submit">Apply</button>
</form>
<!----------------------------------------------------------------->

<main>
    <div class="grid-container">
        <div class="grid-item" th:each="car : ${cars}">
            <div class="grid-content">
                <h2 th:text="${#numbers.formatInteger(car.price, 0)}"></h2>
                <p th:text="${car.brand}"></p>
                <p th:text="${car.model}"></p>
                <p th:text="${car.carState}"></p>
                <div class="ItemLink">
                    <form action="/view_car" method="get">
                        <input type="hidden" name="carChassisNumber" th:value="${car.chassisNumber}">
                        <button class="button" type="submit">View</button>
                    </form>
                    <div class="image-container">
                        <img class="image" th:src="${car.image_url}" alt="Car Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<form action="/purchase" method="get">
    <button type="submit">Go to Purchase Page</button>
</form>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>
