//todo create html for a overview for all leases

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Overview</title>
    <link rel="stylesheet" type="text/css" href="/css.css">


</head>
<body>
<h2>Lease Overview</h2>
<table>


<thead>
<th>Lease ID</th>
<th>Car Chassis Number</th>
<th>Start Date</th>
<th>End Date</th>
<th>Terms</th>
<th>Customer ID</th>
</thead>

<tbody>
<tr th:each="lease : ${leases}">
    <td th:text="${lease.leaseId}"> </td>
    <td th:text="${lease.car.chassisNumber}"></td>
    <td th:text="${lease.startDate}"></td>
    <td th:text="${lease.endDate}"></td>
    <td th:text="${lease.terms}"></td>
    <td th:text="${lease.customer.customerId}"></td>
</tr>
</tbody>
</table>
</body>
</html>
