<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Lease overview</Title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/reusables.css">
    <link rel="stylesheet" href="/fragments.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Lease Overview')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<p>SORT!</p> <!--TODO IMPLEMENT-->
<div class="grid-container">
    <div class="grid-item" th:each="lease : ${leases}" th:classappend="${#temporals.format(lease.endDate, 'yyyy-MM-dd')<
            #temporals.format(#temporals.createNow(), 'yyyy-MM-dd') ? 'grid-item red-box' : 'grid-item'}">
        <div class="grid-header">
            <h3><strong>Lease ID:</strong> <span th:text="${lease.leaseId}"></span></h3>
        </div>
        <div>
            <p><strong>Customer ID:</strong> <span class="customer-id" th:text="${lease.customerId}"></span></p>
            <p><strong>Chassis Number:</strong> <span th:text="${lease.chassisNumber}"></span></p>
            <p><strong>Start Date:</strong> <span th:text="${lease.startDate}"></span></p>
            <p><strong>End Date:</strong> <span th:text="${lease.endDate}"></span> <span
                    th:text="${lease.endDate}"></span></p>
        </div>
    </div>
</div>


<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>