<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/leased_cars.css">
<link rel="stylesheet" href="/fragments.css">
<link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Leased Cars')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/inventory')}"></div>
</header>

<main>
    <div class="leasingPrice">
        <h3>Total pris for udlejede biler: </h3>
        <h2><span th:text="${#numbers.formatInteger(totalPrice, 0)} + ' DKK'"> </span></h2>
        <h2><span th:text="'≈ ' + ${#numbers.formatInteger(totalPrice * 0.13, 0)} + ' EURO'"></span></h2>
    </div>
    <div class="grid-content">
        <div class="grid-item" th:each="car : ${leasedCars}">
            <div> <!-- TODO STRONG -->
                <p th:text="'Mærke: ' + ${car.brand}"></p>
                <p th:text="'Model: ' + ${car.model}"></p>
                <p th:text="'Nummerplade: ' + ${car.licensePlateNumber}"></p>
                <p th:text="'Stelnummer: ' + ${car.chassisNumber}"></p>
                <br>
                <p th:text="'Pris: ' + ${#numbers.formatInteger(car.price, 0)}"></p>
            </div>
            <div class="image-container">
                <img class="image" th:src="${car.image_url}" alt="Car Image">
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
