<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/rented_cars.css">
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Pending Cars')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/inventory')}"></div>
</header>

<main>
    <div class="grid-content">
        <div class="grid-item" th:each="car : ${pendingCars}">
            <div> <!-- TODO STRONG -->
                <p th:text="'Mærke: ' + ${car.brand}"></p>
                <p th:text="'Model: ' + ${car.model}"></p>
                <p th:text="'Nummerplade: ' + ${car.licensePlateNumber}"></p>
                <p th:text="'Stelnummer: ' + ${car.chassisNumber}"></p>
                <br>
                <p th:text="'Pris: ' + ${#numbers.formatInteger(car.price, 0)}"></p>
            </div>
            <div>
                <button type="submit">Car returned</button>
                <button type="submit">Car bought</button>
            </div>
            <div class="image-container">
                <img class="image" th:src="${car.image_url}" alt="Car Image">
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
