<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rented Cars</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/rented_cars.css">
<link rel="stylesheet" href="/fragments.css">
<link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Rented Cars')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<main>
    <div class="leasingPrice-container">
        <h3>Collective price for leased cars</h3>
        <div class="leasingPrice-item">
            <span class="leasingPrice-label">DKK:</span>
            <span class="leasingPrice-value" th:text="${#numbers.formatInteger(totalPrice, 0)} + ',-'"></span>
        </div>
        <div class="leasingPrice-item">
            <span class="leasingPrice-label">EUR:</span>
            <span class="leasingPrice-value" th:text="'≈ ' + ${#numbers.formatInteger(totalPrice * 0.13, 0)} + '€'"></span>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item" th:each="car : ${rentedCars}">
            <div>
                <p th:text="'Brand: ' + ${car.brand}"></p>
                <p th:text="'Model: ' + ${car.model}"></p>
                <p th:text="'Plate: ' + ${car.licensePlateNumber}"></p>
                <p th:text="'Chassis Number: ' + ${car.chassisNumber}"></p>
                <br>
                <p th:text="'Price: ' + ${#numbers.formatInteger(car.price, 0)} + ' DKK'"></p>
            </div>
            <div class="image-container">
                <img class="image" th:src="${car.image_url}" alt="Car Image">
            </div>
        </div>
    </div>
</main>




<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
