<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/rented_cars.css">
    <link rel="stylesheet" href="/fragments.css">
    <link rel="stylesheet" href="/reusables.css">
</head>
<body>

<header>
    <div th:insert="~{home/fragments :: header('Returned Cars')}"></div>
    <div th:insert="~{home/fragments :: logo}"></div>
    <div th:insert="~{home/fragments :: navbar('/')}"></div>
</header>

<main>
    <div class="grid-content">
        <div th:if="${returnedCars.isEmpty()}">
            <p class="message">There are no cars to return at the moment. Please update a car-status to returned and come back.</p>
        </div>
        <div class="grid-item" th:each="car : ${returnedCars}">
            <div>
                <p th:text="'Brand: ' + ${car.brand}"></p>
                <p th:text="'Model: ' + ${car.model}"></p>
                <p th:text="'Licenceplate number: ' + ${car.licensePlateNumber}"></p>
                <p th:text="'Chassisnumber: ' + ${car.chassisNumber}"></p>
                <br>
                <p th:text="'Price: ' + ${#numbers.formatInteger(car.price, 0)} + 'DKK'"></p>
            </div>
            <div>

            </div>
            <div class="image-container">
                <img class="image" th:src="${car.image_url}" alt="Car Image">
            </div>
            <form th:action="@{/car_returned}" class="grid-item" method="post">
                <input type="hidden" name="chassisNumber" th:value="${car.chassisNumber}" />
                <button type="submit" class="simple-button">Car returned</button>
            </form>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{home/fragments :: footer}"></div>
</footer>

</body>
</html>
