<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/css.css">
    <h2>Info about car</h2>
    <thead>
    <th>Chassis number</th>
    <th>Car brand</th>
    <th>Car model</th>
    <th>Car Price</th>
    </thead>
    <br>
    <tr>
        <td th:text="${Car.chassisNumber}"> </td>
        <td th:text="${Car.brand}"></td>
        <td th:text="${Car.model}"></td>
        <td th:text="${Car.price}"></td>
    </tr>

    <form action="/createLease" method="post">
        <div class="input-group">
            <label for="CarChassisNumber"></label>
            <input type="text" id="CarChassisNumber" name="carChassisNumber" th:value="${Car.chassisNumber}" th:placeholder="${Car.chassisNumber}">
        <div class="input-group">
            <label for="StartDate"></label>
            <input type="date" id="StartDate" name="startDate" placeholder="Start Date" required
                   pattern="\d{4}-\d{2}-\d{2}">
        </div>
        <div class="input-group">
            <label for="EndDate"></label>
            <input type="date" id="EndDate" name="endDate" placeholder="End Date" required
                   pattern="\d{4}-\d{2}-\d{2}">  <!-- endnu en regex d står for digit, 4 står for 4 digits, - står for bindestrek, 2 står for 2 digits -->
        </div>
        <div class="input-group">
            <label for="terms"></label>
            <input type="text" id="terms" name="terms" placeholder="Terms" required>
        </div>

        <div class="input-group">
            <label for="customerId"></label>
            <select id="customerId" name="customerId">
                <option th:each="customer : ${Customers}" th:value="${customer.customerId}" th:text="${customer.firstName + ' - ' + customer.customerId}"></option>
            </select>



        <button type="submit">Submit</button>
</head>
<body>

</body>
</html>