<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/view_car.css">
</head>
<body>
<h2 class="title">Info about car</h2>
<table class="car-table">
    <thead>
    <tr>
        <th>Chassis number</th>
        <th>Car brand</th>
        <th>Car model</th>
        <th>Car Price</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td class="chassis-number" th:text="${Car.chassisNumber}"> </td>
        <td class="car-brand" th:text="${Car.brand}"></td>
        <td class="car-model" th:text="${Car.model}"></td>
        <td class="car-price" th:text="${Car.price}"></td>
    </tr>
    </tbody>

    <tr>
        <th>License plate</th>
        <th>Car State</th>
        <th>Transmission Type</th>
        <th>Registration Fee</th>
    </tr>
    <tr>
        <td class="license-plate" th:text="${Car.licensePlateNumber}"> </td>
        <td class="car-state" th:text="${Car.getCarState()}"></td>
        <td class="Transmission-type" th:text="${Car.transmissionType}"></td>
        <td class="registration-fee" th:text="${Car.registrationFee}"></td>
    </tr>
</table>

<form action="/createLease" method="post" class="lease-form">
    <div class="input-group">
        <label for="CarChassisNumber">Chassis Number:</label>
        <input type="text" id="CarChassisNumber" name="carChassisNumber" th:value="${Car.chassisNumber}" th:placeholder="${Car.chassisNumber}">
    </div>
    <div class="input-group">
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="startDate" placeholder="Start Date" required pattern="\d{4}-\d{2}-\d{2}">
    </div>
    <div class="input-group">
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="endDate" placeholder="End Date" required pattern="\d{4}-\d{2}-\d{2}">
    </div>
    <div class="input-group">
        <label for="terms">Terms:</label>
        <input type="text" id="terms" name="terms" placeholder="Terms" required>
    </div>
    <div class="input-group">
        <label for="customerId">Customer:</label>
        <select id="customerId" name="customerId" class="customer-select">
            <option th:each="customer : ${Customers}" th:value="${customer.customerId}" th:text="${customer.firstName + ' - ' + customer.customerId}"></option>
        </select>
        <br>
    </div>
    <button type="submit" class="submit-btn">Create lease</button>


    <div>
        <br>
    </div>

</form>
<!-- Image
<div class="image-container">
    <img class="image" th:src="${car.image_url}" alt="Car Image">
</div>
-->
</body>
</html>
